<a href="https://colab.research.google.com/github/keunsooyoon/python202204/blob/main/PythonDay4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PythonDay4.ipynb

# page 90

# 조건문

# IF - 특정 조건을 만족하는지 여부에따라 실행하는 코드가 달라져야 할때 사용된다. 

a= 6

if a > 0:
  print('양수')

if True:
  print('양수')

양수
양수

In [ ]:
c
a = -5
if a >= 0:
  print('양수')
else:
  print('음수')

음수

In [ ]:
# if - elif

important = 40

if important >= 100:
  print('상')
else:
  if important >= 50:
    print('중')
  else:
    print('하')

상

In [ ]:
important = 40

if important >= 100:
  print('상')
elif important >= 50:
  print('중')
else:
  print('하')

하

In [ ]:
score = 40

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

F

In [15]:
# p 99  #1

score = int(input('점수를 입력하세요 >>> '))

if score >= 90:
  print(f'점수는 {score}점이고, 학점은 A학점입니다.')
elif score >= 80:
  print(f'점수는 {score}점이고, 학점은 B학점입니다.')
elif score >= 70:
  print(f'점수는 {score}점이고, 학점은 C학점입니다.')
elif score >= 60:
  print(f'점수는 {score}점이고, 학점은 D학점입니다.')
else:
  print(f'점수는 {score}점이고, 학점은 F학점입니다.')

점수를 입력하세요 >>> 95
점수는 95점이고, 학점은 A학점입니다.

In [16]:
score = int(input('점수를 입력하세요 >>> '))

if score >= 90:
  hak = 'A'
elif score >= 80:
  hak = 'B'
elif score >= 70:
  hak = 'C'
elif score >= 60:
  hak = 'D'
else:
  hak = 'F'

print(f'점수는 {score}점이고, 학점은 {hak}학점입니다.')

점수를 입력하세요 >>> 50
점수는 50점이고, 학점은 F학점입니다.

In [19]:
# p 99  #2

num = int(input('정수를 입력하세요 >>> '))

if num % 3 == 0:
  print(f'{num}는 3의 배수입니다.')
else:
  print(f'{num}는 3의 배수가 아닙니다.')

정수를 입력하세요 >>> 15
15는 3의 배수입니다.

In [20]:
# p 99  #3

# p99 3번

# X 틀린 케이스

a = input('정수1 입력 >>>')
b = input('정수2 입력 >>>')
c = input('정수3 입력 >>>')

if a > b > c:
  print(f'가장 큰 수는 {a}입니다.')
elif b > a > c:
  print(f'가장 큰 수는 {b}입니다.')
else:
  print(f'가장 큰 수는 {c}입니다.')

정수1 입력 >>>3
정수2 입력 >>>3
정수3 입력 >>>2
가장 큰 수는 2입니다.

In [21]:
# by 조형원 (O)

no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

if no1 > no2 and no2 > no3:
  result = no1
elif no3 > no2 and no2 > no1:
  result = no3
else:
  result = no2
print(f'가장큰수는{result}입니다.')

정수1입력3
정수2입력3
정수3입력2
가장큰수는3입니다.

In [22]:
no1 = int(input('정수1입력'))
no2 = int(input('정수2입력'))
no3 = int(input('정수3입력'))

print(f'가장큰수는{max(no1,no2,no3)}입니다.')

정수1입력3
정수2입력3
정수3입력2
가장큰수는3입니다.

In [23]:
# p 99  #4
car = input('차량번호를 입력하세요 >>> ')

no = car[-1]

print(no)

차량번호를 입력하세요 >>> 237가1234
4

In [24]:
# by 백기원

car_num = input('차량번호를 입력하세요>>>')
sl_num=int(car_num[-1])
if sl_num % 2 == 0:
  result='운행가능'
else:
  result='운행 불가능'
print(f'차량번호 {car_num}은 {result}입니다.' )

차량번호를 입력하세요>>>237가1234
차량번호 237가1234은 운행가능입니다.

In [27]:
# 반복문 
# while  - 반복횟수를 정확히 모를 때,        해질때까지 운동장을 돌자
# for    - 반복횟수를 정확히 알 때 (*****)   운동장을 10바퀴 돌자


# while True:
#   print('hello python')

n = 1
while n <= 10:
  print(f'{n} : hello world')
  n += 1

1 : hello world
2 : hello world
3 : hello world
4 : hello world
5 : hello world
6 : hello world
7 : hello world
8 : hello world
9 : hello world
10 : hello world

In [31]:
n = 10
while n >= 1:
  print(n)
  n -= 1

10
9
8
7
6
5
4
3
2
1

In [32]:
my_list = []

n = int(input('정수를 입력하세요(종료는 0입니다. >>> '))

while n != 0:
  my_list.append(n)
  n = int(input('정수를 입력하세요(종료는 0입니다. >>> '))

print(my_list)

정수를 입력하세요(종료는 0입니다. >>> 2
정수를 입력하세요(종료는 0입니다. >>> 5
정수를 입력하세요(종료는 0입니다. >>> 3
정수를 입력하세요(종료는 0입니다. >>> 0
[2, 5, 3]

In [36]:
day = 1
while day <= 5:
  hour = 1
  while hour <= 3:
    print(day,'일차', hour,'교시')
    hour += 1
  day += 1

1 일차 1 교시
1 일차 2 교시
1 일차 3 교시
2 일차 1 교시
2 일차 2 교시
2 일차 3 교시
3 일차 1 교시
3 일차 2 교시
3 일차 3 교시
4 일차 1 교시
4 일차 2 교시
4 일차 3 교시
5 일차 1 교시
5 일차 2 교시
5 일차 3 교시

In [39]:
dan = 2
while dan <= 9:
  no = 1
  while no <= 9:
    print(f'{dan} * {no} = {dan * no}')
    no += 1
  dan += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [43]:
#p111 #1

no = int(input('정수를 입력하세요 >>>'))
cnt = 1

if no <= 0:
  print('잘못된 입력입니다.')
else:
  while cnt <= no:
    print(f'{cnt}번째 Hello')
    cnt += 1

정수를 입력하세요 >>>5
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello

In [45]:
#p111 #2

n = 1
while n <= 100:
  if n % 7 == 0:   
    print(n) 
  n += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98